@model Topicality.Domain.Entities.CategoryDocument

<div class="card">
    <div class="card-header">
        Create Document
    </div>
    <div class="card-body">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div class="form-group mt-1 input-group input-group-outline">
                <label class="form-label" asp-for="DocumentMetadata.Title"></label>
                <input asp-for="DocumentMetadata.Title" class="form-control" />
                <span asp-validation-for="DocumentMetadata.Title" class="text-danger"></span>
            </div>
            <div class="form-group mt-1 input-group input-group-outline">
                <label class="form-label" asp-for="DocumentMetadata.Filename"></label>
                <input asp-for="DocumentMetadata.Filename" class="form-control" />
                <span asp-validation-for="DocumentMetadata.Filename" class="text-danger"></span>
            </div>
            <div class="form-group mt-1 input-group input-group-outline">
                <label class="form-label" asp-for="DocumentMetadata.Description"></label>
                <input asp-for="DocumentMetadata.Description" class="form-control" />
                <span asp-validation-for="DocumentMetadata.Description" class="text-danger"></span>
            </div>
            <div class="form-group mt-1 input-group input-group-outline">
                <label class="form-label">Upload Files</label>
                <input type="file" name="files" multiple class="form-control" />
            </div>
            <!-- Hidden field for CategoryId -->
            <input type="hidden" asp-for="CategoryId" value="@ViewBag.CategoryId" />

            <button type="submit" class="mt-1 btn btn-primary">Create</button>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
